body {
  background-color: #e8eae6;
  font-family: "Bona Nova", serif;
  margin: 40px auto;
}

.App a {
  text-decoration: none;
  color: #90cbf8;
}

.App h3 {
  font-style: italic;
}

.App h3::first-letter {
  text-transform: capitalize;
}

.App .card {
  background-color: #cfdac8;
  margin: 15px auto;
  padding: 15px;
  max-width: 900px;
  border: 2px solid #a2b29f;
  border-radius: 15px;
}
.App .card-current {
  background-color: #a2b29f;
  color: #e8eae6;
  border: 2px solid #cfdac8;
}

.App .current-information {
  font-size: 18px;
}

.App ul {
  list-style: none;
}

.App .fa-temperature-low {
  color: #90cbf8;
}

.App .fa-temperature-high {
  color: #de675a;
}

.App .fa-feather-alt {
  color: #fcf876;
}

.App .fa-tint {
  color: #90cbf8;
}

.App .fa-wind {
  color: #b7b6b6;
}

.App span.variables-border-identifier {
  border: 3px solid;
  width: 6px;
  border-radius: 3px;
  height: 50px;
  float: left;
}

.App .margin-left-12 {
  margin-left: 12px;
}

.App span.temperature-information {
  border-color: #de675a;
}

.App span.uv {
  border-color: #fcf876;
}

.App span.humidity {
  border-color: #90cbf8;
}

.App span.wind {
  border-color: #b7b6b6;
}

.App .input-search {
  width: 300px;
}

.App .btn {
  position: relative;
  left: 350px;
}

.App .link-open-source {
  font-family: "Bona Nova", serif;
  margin-left: 10px;
}
